<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsVirtualDesktopHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <WindowsVirtualDesktopHelper.Properties.Settings>
      <setting name="ShowPrevNextIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayAnimate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayTranslucent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClickDesktopNumberOpensTaskView" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayDuration" serializeAs="String">
        <value>medium</value>
      </setting>
      <setting name="OverlayPosition" serializeAs="String">
        <value>middlecenter</value>
      </setting>
    </WindowsVirtualDesktopHelper.Properties.Settings>
  </userSettings>
</configuration>
